.container {
	max-width: 120rem;
	margin: 8rem auto;
	background-color: var(--color-grey-light-1);
	box-shadow: var(--shadow-dark);
	border-radius: 3px;

	min-height: 80rem;

	@media only screen and (max-width: $bp-large) {
		margin: 0;
		max-width: 100%;
		width: 100%;
	}
}

.header {
	font-size: 1.4rem;
	height: 7rem;
	background-color: var(--color-white-1);
	border-bottom: var(--border-light);

	display: flex;
	justify-content: space-between;
	align-items: center;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;

	@media only screen and (max-width: $bp-smallest) {
		flex-wrap: wrap;
		height: 10rem;
		align-content: space-around;
	}
}

.content {
	display: flex;

	@media only screen and (max-width: $bp-medium) {
		flex-direction: column;
	}
}

.sidebar {
	background-color: var(--color-grey-dark-1);

	flex: 0 0 18%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hotel-view {
	background-color: #fff;

	flex: 1;
}

.cta {
	padding: 3.5rem 0;
	text-align: center;

	@media only screen and (max-width: $bp-medium) {
		padding: 2.5rem 0;
	}

	&__book-now {
		font-size: 1.5rem;
		font-weight: 400;
		text-transform: uppercase;
		margin-bottom: 2rem;
	}
}
